body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

/*=================================================== bacground  colors ========================================================*/
.bg-color-gray {
  background: #f0efef;
}

.bg-color-whitis {
  background: #fafafa;
}

.bg-color-whiti {
  background: #d5d9d928;
}

.bg-blue {
  background: #0e0138;
  color: white;
}

.bg-white {
  background: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-area {
  height: 100vh;
}

/*===================================== taskmanager logo area for login, register and profile page =====================================*/
.TaskManagerlogo-area {
  max-width: 100%;
  max-height: 80%;
}


/*====================================================== media for computer screen =====================================================*/
@media only screen and (min-width: 992px) {
  .display-none-IncomputerScreen {
    display: none;
  }

  .Alert-for-computerScreen{
    position: absolute;
    width: 76%; 
  }
}

@media only screen and (min-width: 770px) {
  .height-task-container {
    height: 86vh;
  }

  .sidebar-height {
    height: 86vh;
  }

  .task-container-content-height {
    overflow-y: auto;
    height: 88%;
  }

  .sidebar-container-content-height {
    overflow-y: auto;
    height: 88%;
  }

  .searchbox{
    width: 250px;
  }

  .searchbox-component-formobile{
     font-size: x-small;
  }
}

@media only screen and (max-width: 992px) {
  .height-task-container {
    max-height: 80vh;
  }
} 

/*======================================================== media for mobile phone  =====================================================*/
@media only screen and (max-width: 770px) {
  .height-task-container {
    max-height: 80vh;
  }

  .task-container-content-height {
    overflow-y: auto;
    height: 60vh;
  }

  .display-none-InMobileScreen {
    display: none;
  }

  .searchbox{
    width: 150px;
  }

  .progresBar-small-text-forMobile{
    font-size: x-small;
  }

  .sideBar-small-text-forMobile{
    font-size: x-small;
  }
}

/* media for small mobile phone  */
@media only screen and (max-width: 350px) {
  .sideBar-text-hide-forMobile, .searchbox-component-formobile {
     display: none;
  }
}

@media only screen and (max-width: 410px) {
  .Alert-Screen{
    position: absolute;
      width: 92%;
      z-index: 1000;
      top: 16px;
      right: 15px;
  }
}

@media only screen and (min-width: 410px) {
  .Alert-Screen{
    position: absolute;
      width: auto;
      z-index: 1000;
      top: 16px;
      right: 18px;
  }
}



/*============================================================ styl for calender =====================================================*/
.date-picker-container {
  position: relative;
  background: rgba(255, 255, 255, 0);
  padding: 2px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
input[type="datetime-local"] {
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease;
}
input[type="datetime-local"]:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

/*=========================================================== General container styling ================================================*/
.scrollable {
  overflow-y: scroll;
}

/* Slim scrollbar styling for WebKit browsers */
.scrollable::-webkit-scrollbar {
  width: 2px; /* Slim width */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}

/* Slim scrollbar styling for Firefox */
.scrollable {
  scrollbar-width: thin; /* Slim width */
  scrollbar-color: #888 #e0e0e0; /* Thumb and track colors */
}
