body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-color-gray{
  background: #f0efef;
}

.bg-blue{
  background: #0e0138;
  color: white;
}

.bg-white{
  background: #ffffff;
}

 /* General container styling */
        .scrollable {
            overflow-y: scroll;
        }

        /* Slim scrollbar styling for WebKit browsers */
        .scrollable::-webkit-scrollbar {
            width: 2px; /* Slim width */
        }

        .scrollable::-webkit-scrollbar-thumb:hover {
            background: #555; /* Thumb hover color */
        }

        /* Slim scrollbar styling for Firefox */
        .scrollable {
            scrollbar-width: thin; /* Slim width */
            scrollbar-color: #888 #e0e0e0; /* Thumb and track colors */
        }